#header{
    background-image: url(../../assets/bgdark.png);
    height: 100vh;
    isolation: isolate;
    background-size: cover;
    
}
.top-text{
font-weight: 700;
font-size: 40px;
line-height:37px;
margin-left: 100px;
font-family: 'Raleway', sans-serif;
line-height: 3.2rem;


}

.top-text span{
    color: #64CD5F
    ;
}
#header p{
    font-family: 'Poppins', sans-serif;
width: 70%;

margin-left: 100px;
}

.toper{
    margin-top: 250px;
}

.icon-down{
    width: 70%;
margin-left: 60px;
text-align: center;
}
.icon-down a{
    background-color: #E0E0E0;
    padding: 12px 16px;
    border-radius: 36px;

}
@media screen and (max-width: 950px) {
    
    .owl-caorusel{
        margin-top: 60px;
    }
    *{
        text-align: center;
    }
    .top-text{
        margin-left: 0px;
    }
    #header p{
        margin-left: 0px;
        width: 100%;
    }
  }

  .darkmode-toggle {
    z-index: 1111;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;    
}

  .darkmode--activated h1{
    color: aliceblue;
  }
  .darkmode--activated .paraaa{
    color: aliceblue;
  }
