*{
    padding: 0px ;
    
}
@media screen and (max-width: 950px) {
    
    *{
        text-align: center;
    }
  }

  body::-webkit-scrollbar {
    width: 1em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }
   
  body::-webkit-scrollbar-thumb {
    background-color:#4DB748;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  }

  /* .dark body{
    color: #4DB748 !important;
  } */